{% load feincms_tags breadcrumbs i18n disqus_tags %}


{% block breadcrumbs %}
    {% if drilldown_mode %}
    	{% drilldown date drilldown_mode %}
	{% endif %}
{% endblock %}

{% block content %}
 <h1>{{ title }}</h1>
 {% for object in object_list %}
        <div class="entry">
            <h2><a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a></h2>
            <p class="byline"> {% if object.user %}{% trans 'By' %} <a href="#">{{ object.user.get_full_name }}</a>. {% endif %}{% trans 'Posted on' %} {{ object.published_on|date:"SHORT_DATE_FORMAT" }}
                 {% trans 'at' %} {{ object.published_on|time:"H:i" }}
            {% if object.categories.all %}
            <span class="blogcategories">{% trans 'in' %} 
                {% for category in object.categories.all %}
                <a href="{{ category.get_absolute_url }}">{{ category.translation.title }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}.</span>{% endif %}
            </p>
		    {% feincms_render_region object "main" request %}
			<br />
            <a href="{{ object.get_absolute_url }}#disqus_thread">{% trans 'View Comments' %}</a>
            {% disqus_num_replies %}
        </div>
		{% if not forloop.last %}
		  <div class="separator"></div>
		{% endif %}
    {% empty %}
    <p>{% trans "No entries found." %}</p>
    {% endfor %}

	{% if page_obj.has_other_pages %}
    <div class="separator"></div>
    <div class="pagination">
            <span class="current">
                {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_previous %}
                <a class="step-back" href="?page={{ page_obj.previous_page_number }}" rel="prev">{% trans 'previous' %}</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="step-forward" href="?page={{ page_obj.next_page_number }}" rel="next">{% trans 'next' %}</a>
            {% endif %}
    </div>
    {% endif %}
{% endblock %}
