{% load feincms_thumbnail disqus_tags i18n %}

<div class="list-entry-detail">
    <div class="mediafile">
        <a href="{{ feincms_object.get_absolute_url }}"><img src="{{ mediafile.file.name|cropscale:"220x300" }}" alt="{{ feincms_object.title }}" /></a>
    </div>
    <div class="content">
        {{ content }}
        {% include "blog/social_media.html" %}
    </div>
    {% with feincms_object.tags.all as tags %}
        {% if tags %}
        <ul class="tags">
            {% for tag in tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>