{% load i18n %}
<div class="hfeed newsfeed content">
{% for entry in content.entries %}
    <article class="hentry{% if forloop.first %} first{% endif %}">
        <header>
            <h2 class="entry-title"><a href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry }}</a></h2>
            <p class="byline small">
                {% for category in entry.fetched_categories %}
                    <a href="{{ category.get_absolute_url }}" rel="tag">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
                {% endfor %}
                {% if entry.author.get_full_name %}
                <span class="author source-org vcard">
                    {% trans 'by' %} <span class="fn">{{ entry.author.get_full_name }}</span> |
                </span>
                {% endif %}
                <time datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"SHORT_DATE_FORMAT" }}</time>
            </p>
        </header>
        <div class="entry-summary">
            {% if entry.first_image %}{{ entry.first_image.render }}{% endif %}
            {% if entry.first_richtext %}{{ entry.first_richtext.render }}{% endif %}
        </div>
    </article>
{% endfor %}
</div>

{# if not content.featured_only #}
{% if content.paginate_by %}
{% with content.entries as page_obj %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% endif %}

    {% for p in page_obj.page_range %}
        {% if not p %}&hellip;
        {% else %}
            <a {% if p == page_obj.number and not page_obj.show_all_objects %}class="mark"{% endif %} href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
{% endwith %}
{% endif %}
{# endif #}