{% load feinheit_base feinheit_thumbnail i18n %}
{% for entry in entries %}
<div class="append-bottom blog-teaser">
    <p class="byline">{{ entry.published_on|date:"SHORT_DATE_FORMAT" }}</p>
    <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    {{ entry.richtext|safe }}
    <div class="gallery_row">
        {% for picture in entry.gallery %}
            {% block gallery_row %}
            <div class="gallery-cell">
                <div class="gallery-cell-div">
                    <a href="{{ picture.file.url }}" class="grouped_elements" rel="gallery{{ content.gallery.id }}" title="{{ picture.translation.description }}">
                        <img class="gallery-cell-img" src="{{ picture.file.name|cropscale:'146x160' }}" alt="{{ picture.translation.caption }}" />
                        {% block caption %}{% endblock %}
                    </a>
                </div>
            </div>                  
            {% endblock %}
        {% empty %}
        {% trans 'Keine Bilder' %}
        {% endfor %}
    </div>
    <p><a href="{{ entry.get_absolute_url }}">{% trans '[mehr]' %}</a></p>
</div>
{% endfor %}