{% load elephantblog_tags %}

{% elephantblog_categories as categories %}
<p>categories:{% for c in categories %}{{ c }},{% endfor %}</p>

{# Django 1.4 does not support True yet, use "1" instead #}
{% elephantblog_categories show_empty_categories=1 as categories %}
<p>categories+empty:{% for c in categories %}{{ c }},{% endfor %}</p>

{% elephantblog_archive_months as months %}
{# We are not using |date here because Django before 1.6 returns #}
{# naive datetimes from dates(), which in turn are not handled correctly #}
{# by the date filter. #}
<p>months:{% for m in months %}{{ m.month|stringformat:"02d" }}.{{ m.year }},{% endfor %}</p>

{% elephantblog_entries as entries %}
<p>entries:{% for e in entries %}{{ e }},{% endfor %}</p>

{# Django 1.4 does not support True yet, use "1" instead #}
{% elephantblog_entries featured_only=1 as entries %}
<p>entries+featured:{% for e in entries %}{{ e }},{% endfor %}</p>

{% elephantblog_entries category=categories.0 as entries %}
<p>entries+category0:{% for e in entries %}{{ e }},{% endfor %}</p>

{% elephantblog_entries category=categories.1 as entries %}
<p>entries+category1:{% for e in entries %}{{ e }},{% endfor %}</p>

{% elephantblog_entries limit=1 as entries %}
<p>entries+limit:{% for e in entries %}{{ e }},{% endfor %}</p>
